body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background: #ff69b4;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

input[type="submit"]:hover {
    background: #db4d98;
}

/* Notification message styling */
#notification {
    display: none;  /* Hidden by default */
    background-color: #4CAF50;  
    color: #115711;  
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    width: 300px;  
    margin: 20px auto;  
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Make it pop */
}
